:root {
    --body-container-radius: 0;
}

#bestand {
    font-size: 12px;
    background-color: white;
    width: 100%;
}

#bestand div {
    background-color: inherit;
    width: 100%;
}

#bestand_table {
    height: 89vh;
    overflow: auto;
    overflow-wrap: break-word;
}

#bestand_table table {
    margin-left: 4px;
    margin-bottom: 4px;
    white-space: normal;
}

#bestand_table td {
    padding-left: 1px;
    padding-right: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    line-height: 1;
}

#bestand_table thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    padding-left: 1px;
    padding-right: 1px;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#bestand tr:nth-child(even) {
    background-color: Lightgreen;
}

#bestand th {
    background-color: white;
}

#bestand tr:hover {
    background-color: #ffff99;
}

#bestand td:nth-child(10) {
    text-align: right;
}

div.bestand_fix_row {
    height: 50px;
    overflow: hidden;
}

#bestand td:nth-child(13),
#bestand td:nth-child(21) {
    max-width: 200px;
}

#bestand a {
    color: blue;
}

#bestand a:hover {
    background-color: #ffff99;
}

#bestand H2 {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 1px;
}

#bestand input:not([type="range"]),
#bestand button,
#bestand select {
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 20px;
    font-size: 12px;
    height: 28px;
}

#st_editor {
    font-size: 12px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

#st_editor input,
#st_editor select,
#st_editor textarea {
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 20px;
}

#st_editor input,
#st_editor select {
    height: 28px;
}

#st_editor input[type="text"],
#st_editor select,
#st_editor textarea {
    width: 500px;
}

#st_editor a {
    color: blue;
}

#bestand_delete a {
    float: right;
}

#bestand_delete a:hover {
    background-color: #ff0000;
}
